.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #171539;
}

.App .logo {
  max-width: 200px;
  display: block;
  margin: 0px auto;
}

.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.App a {
  color: #c9974e;
}
